<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation for DemoEverShop">
    <test name="TC's to be execute on Chrome Browser">
        <parameter name="browser" value="chrome"></parameter>
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="Regression"></include>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="org.testPackage.DemoEverWebsiteTest"></class>
        </classes>
    </test>
</suite>